/* Stylesheet created by: Zac Bondy - c0870952 - 2023-03-20  */

body{
    background-color: #0a161b;
    color:#b9c2c5;
    font-weight: 400;
    font-family:  Georgia, serif;
}

header h1{
    font-size: 3.5em;
    text-align: center;
}

nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	text-align: center;
    font-weight: bold;
}


nav ul {
	padding: 1%;
	margin-top:  0.5em;
	margin-bottom:  0.5em;
}


nav li {
	background-color:  #465c66;
	border-radius:  1em;
	list-style-type:  none;
	margin:  0.3em;
	padding:  0.4em;
}

/* Style changes navigation link text color to white and  removes the underline */
nav li a {
	color: #b9c2c5;
	text-decoration:  none;
    font-size: 1.7em;
}
  /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            font-family: Georgia, "Times New Roman", serif;
            font-size: 1.7em;
            text-align: center;
            font-weight: bold;
            border: none;
            color:#b9c2c5;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #808080;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            font-size: 1em;
            text-decoration: none;
            display: block;
            padding: 5%;
            
          }
        
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;}
          
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            
            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: #465c66;}
                


#desktop{
    display: none;
}
#tablet{
    display: none;
}

#mobile {
    display: inline;
}


nav li a:hover {
    color: #222d31;
}





main{
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #3a4448;
  
    border-radius: 2em;
    padding-bottom: 3%;
}
main p{
    padding-top:7%;
    text-align: center;
    font-size: 2em;
}

#mobile .sc1 img, .sc2 img, .sc3 img{
    padding-top: 10%;
    display: block;
    border-radius: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mobile h2 {
   text-align: center;
}


footer {
    margin-top: 1%;
    font-size: .75em;
	text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: #b9c2c5;
    text-decoration: underline;
}

.creator:hover {
   font-size: 0;
}

.creator:hover:after {
    content: attr(data-hover);
    font-size: 13px;
    line-height: .75em;
    font-weight: 200;
}

@media only screen and (max-width: 1000px) {
   
    body{
        background-color: #0a161b;
        color:#b9c2c5;
        font-weight: 400;
        font-family:  Georgia, serif;
    }
    
    header h1{
        font-size: 3.5em;
        text-align: center;
    }
    
    nav {
        font-family: Georgia, "Times New Roman", serif;
        text-align: center;
        font-weight: bold;
        width: 100%;
        background-color:  #465c66;
        max-width: 100%;
    }
    
    
    nav ul {
        padding: 1%;
        margin-top: 2.5%;
        margin-bottom: 2%;
        
    }
    
    
    nav li {
        background-color:  #465c66;
        border-radius:  1em;
        list-style-type:  none;
        max-width: 100%;
        display: inline;
       
    }
    
    

    nav li a {
        color: #b9c2c5;
        text-decoration:  none;
        font-size: 2em;
        padding: 0 .5em;
    }
    
    nav li a:hover {
        color: #222d31;
    }
    /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            color: white;
            
            border: none;
          }
          
           /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            font-family: Georgia, "Times New Roman", serif;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
            border: none;
            color:#b9c2c5;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #808080;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            font-size: 1em;
            text-decoration: none;
            display: block;
          }
        
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;}
          
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            
            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: #465c66;}
                
    
    
    #desktop {
        display: inline;
    }
    #tablet {
        display: none;
    }
    
 
    #mobile {
        display: none;
    }
    
    nav li a:hover {
        color: #222d31;
    }
    
    /* New code for slide show below */

    h2 {
        font-size: 120%;
        padding: .5em 0;
    }
    img {
        height: 250px;
    }
    #slides img {
        display: none;
    }
}