/* Stylesheet created by: Zac Bondy - c0870952 - 2022-10-08  */

body{
    background-color: #0a161b;
    color:#b9c2c5;
    font-weight: 400;
    font-family:  Georgia, serif;
}

header h1{
    font-size: 3.5em;
    text-align: center;
}

nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	text-align: center;
    font-weight: bold;
}


nav ul {
	padding: 1%;
	margin-top:  0.5em;
	margin-bottom:  0.5em;
}


nav li {
	background-color:  #465c66;
	border-radius:  1em;
	list-style-type:  none;
	margin:  0.3em;
	padding:  0.4em;
}

/* Style changes navigation link text color to white and  removes the underline */
nav li a {
	color: #b9c2c5;
	text-decoration:  none;
    font-size: 1.7em;
}
  /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            font-family: Georgia, "Times New Roman", serif;
            font-size: 1.7em;
            text-align: center;
            font-weight: bold;
            border: none;
            color:#b9c2c5;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #808080;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            font-size: 1em;
            text-decoration: none;
            display: block;
            padding: 5%;
            
          }
        
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;}
          
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            
            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: #465c66;}
                
#desktop{
    display: none;
}


#mobile {
    display: inline;
}


nav li a:hover {
    color: #222d31;
}


#bannerMobile img {
    width:100%
}
#mobile main{
    background-color: #222d31;
}


#mobile  img{
    padding-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
}

#mobile h2{
    text-align: center;
}





footer {
    margin-top: 1%;
    font-size: .75em;
	text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: #b9c2c5;
    text-decoration: underline;
}

.creator:hover {
   font-size: 0;
}

.creator:hover:after {
    content: attr(data-hover);
    font-size: 13px;
    line-height: .75em;
    font-weight: 200;
}



/* Desktop View */
@media only screen and (min-width: 1000px) {
    
    header h1{
        font-size: 3.5em;
        text-align: center;
    }
    
    nav {
        font-family: Georgia, "Times New Roman", serif;
        text-align: center;
        font-weight: bold;
        width: 100%;
        background-color:  #465c66;
        max-width: 100%;
    }
    
    
    nav ul {
        padding: 1%;
        
    }
    
    
    nav li {
        background-color:  #465c66;
        border-radius:  1em;
        list-style-type:  none;
        max-width: 100%;
        display: inline;
       
    }
    
    

    nav li a {
        color: #b9c2c5;
        text-decoration:  none;
        font-size: 2em;
        padding: 0 .5em;
    }
    
    nav li a:hover {
        color: #222d31;
    }
    /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            color: white;
            
            border: none;
          }
          
           /* Dropdown Button */
           .dropbtn {
            background-color: #465c66;
            font-family: Georgia, "Times New Roman", serif;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
            border: none;
            color:#b9c2c5;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #808080;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            font-size: 1em;
            text-decoration: none;
            display: block;
          }
        
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;}
          
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            
            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: #465c66;}
                
    
    #desktop {
        display: inline;
    }

 
 
    #mobile {
        display: none;
    }
    
    nav li a:hover {
        color: #222d31;
    }
    
    
   
  #desktop .column{
    float: left;
    width: 33.33%;
    display: block;
  }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
#desktop img{
    height:30%;
     margin-left: auto;
  margin-right: auto;
  display: block;
}

#desktop h2{
    text-align: center;
    font-size: 2em;
}

#desktop p{
    text-align: center;
    padding-left: 14%;
    font-size: 1em;
    padding-bottom: 5%;
    width: 75%;
}


  
  
    
    
    footer {
       
        font-size: .75em;
        text-align: center;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    footer a {
        text-decoration: none;
        color: #b9c2c5;
        text-decoration: underline;
    }
    
     .creator:hover {
       font-size: 0;
    }
    
    .creator:hover:after {
        content: attr(data-hover);
        font-size: 13px;
        line-height: .75em;
        font-weight: 200;
    }
    
  
    }




